.nrepl-port
_site
.sass-cache
node_modules
/doc/source
/doc/Makefile
/target
/lib
/classes
/checkouts
/pithos-quickstart
/site
/test
/vagrant
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
