---
layout: default
title: Pithos Design
---

<div class="page-header">
        <h1>Design</h1>
</div>

{% capture myinclude %}{% include concepts.md %}{% endcapture %}
{{ myinclude | markdownify }}

<a name="api-compat"></a>
<h2>API Compatibility Matrix</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Feature</th>
			<th>Status</th>
			<th class="hidden-xs">Notes</th>
		</tr>
	</thead>
	<tbody>
		{% for feature in site.features %}
			<tr class="{{ site.feature_config[feature.status].class }}">
				<td>{{ feature.name }}</td>
				<td><span class="label label-{{ site.feature_config[feature.status].class{{ feature.status }}"><span class="fa fa-{{ site.feature_config[feature.status].icon }}"></span> {{ feature.status }}</span></td>
				<td class="hidden-xs">{{ feature.notes }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>



